__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

data/staging/*
data/silver/*
data/gold/*
data/audit/*
!data/staging/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/audit/.gitkeep

dbt/target/
dbt/dbt_packages/
dbt/logs/
logs/
*.parquet
*.snappy.parquet

.env
.DS_Store
